/* line 7, ../../sass/sass/hf.scss */
header nav .container .navbar-header button span {
  color: #000;
}
/* line 11, ../../sass/sass/hf.scss */
header nav .container .navbar-header .navbar-brand {
  font-size: 24px;
  color: #002b80;
}
