/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/sass/_aboutMe.scss */
#AboutMe {
  margin-top: -10px;
  background-color: #fff;
}
/* line 5, ../../sass/sass/_aboutMe.scss */
#AboutMe .secondSection {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px 0 20px;
  background-repeat: no-repeat;
}
/* line 13, ../../sass/sass/_aboutMe.scss */
#AboutMe .secondSection .jojo {
  width: 220px;
  height: 230px;
  border-radius: 50% 50%;
  margin-top: 20px;
}
/* line 19, ../../sass/sass/_aboutMe.scss */
#AboutMe .secondSection p {
  text-align: justify;
}
/* line 23, ../../sass/sass/_aboutMe.scss */
#AboutMe .basicInfo {
  text-align: center;
}
/* line 25, ../../sass/sass/_aboutMe.scss */
#AboutMe .basicInfo table {
  margin-top: 40px;
}
/* line 27, ../../sass/sass/_aboutMe.scss */
#AboutMe .basicInfo table th {
  padding: 8px;
  vertical-align: top;
}
/* line 30, ../../sass/sass/_aboutMe.scss */
#AboutMe .basicInfo table th img {
  width: 32px;
}
/* line 34, ../../sass/sass/_aboutMe.scss */
#AboutMe .basicInfo table td {
  padding: 8px;
}
/* line 38, ../../sass/sass/_aboutMe.scss */
#AboutMe .basicInfo .signature {
  margin: 10px 0 20px 0;
  width: 190px;
}
/* line 42, ../../sass/sass/_aboutMe.scss */
#AboutMe .basicInfo button {
  font-size: 16pt;
  width: 90%;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  margin-bottom: 30px;
  background: #2D3D4D;
  color: #fff;
}
/* line 53, ../../sass/sass/_aboutMe.scss */
#AboutMe .basicInfo button span {
  margin-left: 20px;
}
/* line 56, ../../sass/sass/_aboutMe.scss */
#AboutMe .basicInfo button:hover {
  color: #000;
}
/* line 61, ../../sass/sass/_aboutMe.scss */
#AboutMe hr {
  width: 120px;
  height: 10px;
  background: #333333;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 71, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies .ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
/* line 80, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies .ch-grid:after,
#AboutMe .hobbies .ch-item:before {
  content: '';
  display: table;
}
/* line 86, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies .ch-grid:after {
  clear: both;
}
/* line 90, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies .ch-grid li {
  width: 160px;
  height: 160px;
  display: inline-block;
  margin: 20px;
}
/* line 96, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul {
  width: 100%;
  text-align: center;
}
/* line 99, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li {
  width: 30%;
}
/* line 101, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 109, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-thumb {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  transform-origin: 95% 40%;
  transition: all 0.3s ease-in-out;
}
/* line 119, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-thumb:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 40%;
  left: 95%;
  margin: -4px 0 0 -4px;
  background: radial-gradient(ellipse at center, #0e0e0e 0%, #7d7e7d 100%);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
}
/* line 131, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-img-1 {
  background-image: url("/public/images/aboutme/music1.png");
  z-index: 12;
}
/* line 135, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-img-2 {
  background-image: url("/public/images/aboutme/cinema.png");
  z-index: 11;
}
/* line 140, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-img-3 {
  background-image: url("/public/images/aboutme/windows.png");
  z-index: 10;
}
/* line 144, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-info {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  background: #068B39;
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.05);
}
/* line 153, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 20px;
  padding: 22px 0 0 0;
  height: 85px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 167, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-info p {
  color: #fff;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 174, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-info p.windowsP {
  border-top: none;
}
/* line 177, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-info p a {
  display: block;
  color: #333;
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 24px;
  margin: 7px auto 0;
  font-family: 'Open Sans', Arial, sans-serif;
  opacity: 0;
  transition: transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s;
  transform: translateX(60px) rotate(90deg);
}
/* line 201, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-info p a:hover {
  background: rgba(255, 255, 255, 0.5);
}
/* line 204, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-item:hover .ch-thumb {
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.2);
  transform: rotate(-110deg);
}
/* line 208, ../../sass/sass/_aboutMe.scss */
#AboutMe .hobbies ul li .ch-item:hover .ch-info p a {
  opacity: 1;
  transform: translateX(0px) rotate(0deg);
}

/* line 1, ../../sass/sass/_resume.scss */
#Resume {
  background-image: url("/public/images/bg-prototype.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachement: fixed;
}
/* line 6, ../../sass/sass/_resume.scss */
#Resume h1 {
  margin-top: 50px;
  color: #fff;
}
/* line 10, ../../sass/sass/_resume.scss */
#Resume hr {
  background: #fff;
}

/* line 14, ../../sass/sass/_resume.scss */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 20, ../../sass/sass/_resume.scss */
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  /* line 31, ../../sass/sass/_resume.scss */
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  /* line 35, ../../sass/sass/_resume.scss */
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
/* line 41, ../../sass/sass/_resume.scss */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

/* line 45, ../../sass/sass/_resume.scss */
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 50, ../../sass/sass/_resume.scss */
.cd-timeline-block:first-child {
  margin-top: 0;
}

/* line 53, ../../sass/sass/_resume.scss */
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  /* line 57, ../../sass/sass/_resume.scss */
  .cd-timeline-block {
    margin: 4em 0;
  }

  /* line 60, ../../sass/sass/_resume.scss */
  .cd-timeline-block:first-child {
    margin-top: 0;
  }

  /* line 63, ../../sass/sass/_resume.scss */
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
/* line 68, ../../sass/sass/_resume.scss */
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

/* line 77, ../../sass/sass/_resume.scss */
.cd-timeline-img img {
  display: block;
  width: 34px;
  height: 34px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -17px;
  margin-top: -17px;
}

/* line 87, ../../sass/sass/_resume.scss */
.cd-timeline-img.cd-picture {
  background: #00b36b;
}

/* line 90, ../../sass/sass/_resume.scss */
.cd-timeline-img.cd-movie {
  background: #00b36b;
}

/* line 93, ../../sass/sass/_resume.scss */
.cd-timeline-img.cd-location {
  background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
  /* line 97, ../../sass/sass/_resume.scss */
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  /* line 106, ../../sass/sass/_resume.scss */
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }

  /* line 109, ../../sass/sass/_resume.scss */
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 174, ../../sass/sass/_resume.scss */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
/* line 182, ../../sass/sass/_resume.scss */
.cd-timeline-content ul li {
  margin-left: 30px;
}
/* line 186, ../../sass/sass/_resume.scss */
.cd-timeline-content button {
  font-size: 16pt;
  width: 60%;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  background: #2D3D4D;
  color: #fff;
  display: block;
}
/* line 197, ../../sass/sass/_resume.scss */
.cd-timeline-content button span {
  margin-left: 20px;
}
/* line 200, ../../sass/sass/_resume.scss */
.cd-timeline-content button:hover {
  color: #000;
}

/* line 205, ../../sass/sass/_resume.scss */
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 210, ../../sass/sass/_resume.scss */
.cd-timeline-content h2 {
  color: #303e49;
}

/* line 216, ../../sass/sass/_resume.scss */
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}

/* line 219, ../../sass/sass/_resume.scss */
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

/* line 223, ../../sass/sass/_resume.scss */
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

/* line 230, ../../sass/sass/_resume.scss */
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #fff;
}

/* line 233, ../../sass/sass/_resume.scss */
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

/* line 238, ../../sass/sass/_resume.scss */
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 1170px) {
  /* line 263, ../../sass/sass/_resume.scss */
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }

  /* line 268, ../../sass/sass/_resume.scss */
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  /* line 274, ../../sass/sass/_resume.scss */
  .cd-timeline-content .cd-read-more {
    float: left;
  }

  /* line 277, ../../sass/sass/_resume.scss */
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    color: #fff;
  }

  /* line 284, ../../sass/sass/_resume.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }

  /* line 287, ../../sass/sass/_resume.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  /* line 294, ../../sass/sass/_resume.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }

  /* line 297, ../../sass/sass/_resume.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }

  /* line 302, ../../sass/sass/_resume.scss */
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }

  /* line 305, ../../sass/sass/_resume.scss */
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}
@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  /* line 315, ../../sass/sass/_resume.scss */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 3, ../../sass/sass/_skills.scss */
#Skills .skillsContent .loaders {
  text-align: center;
  margin: 30px 0 10px 0;
}

/* line 1, ../../sass/sass/_contactme.scss */
#Contact {
  background-image: url("/public/images/banners/banner-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachement: fixed;
}
/* line 6, ../../sass/sass/_contactme.scss */
#Contact hr {
  margin-bottom: 50px;
}
/* line 9, ../../sass/sass/_contactme.scss */
#Contact .row {
  margin-top: 30px;
}
/* line 12, ../../sass/sass/_contactme.scss */
#Contact input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-size: 16px;
  padding: 15px 0 15px 15px;
}
/* line 21, ../../sass/sass/_contactme.scss */
#Contact input:focus {
  outline: none;
  border-bottom: solid 3pt #2D3D4D;
}
/* line 26, ../../sass/sass/_contactme.scss */
#Contact textarea {
  width: 100%;
  height: 240px;
  border: none;
  padding: 15px;
  resize: none;
}
/* line 32, ../../sass/sass/_contactme.scss */
#Contact textarea:focus {
  outline: none;
  border-bottom: solid 3pt #2D3D4D;
}
/* line 37, ../../sass/sass/_contactme.scss */
#Contact button {
  width: 100%;
  font-size: 16pt;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  margin-bottom: 30px;
  background: #2D3D4D;
  color: #fff;
}
