body,html{
    font-family: 'Raleway', sans-serif;

    a, p{
        font-size:18pt;
    }
    a{
        color:#00b36b;
    }
    a, p, h1, h2{
        font-family: 'Raleway', sans-serif;
    }
    h1{
        font-size:32pt;
        font-weight:bold;
    }
    /**** Section 1 *****/

    .sections{
       width:100%;
       min-height:100vh;
    }
    .top-banner{
        background-image: url(/public/images/bg5.jpg);
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          text-align:center;
          padding:0 10px 0 10px;
          .firstSection{
            max-width:1100px;
            width:100%;
            margin:0 auto;
            .logo{
                width:150px;
                margin-top:10%;
              }
              .myName{
                border:solid 3pt #fff;
                padding-bottom:10px;
                min-width:300px;
                max-width:480px;
                width:100%;
                margin:20px auto;
                h1{
                    color:#fff;
                    text-shadow:1pt 1pt 1pt #333;
                    &:hover{
                        transition: all 0.8s ease;
                    }
                }
                &:hover{
                    background-color:#068B39;
                    border-color:#068B39;
                    transition: all 0.8s ease;
                }
              }
              h2{
                color:#fff;
                font-size:24pt;
              }
              ul{
                li{
                    display:inline-block;
                    a{
                        img{
                            width:48px;
                        }
                    }
                }
              }
          }
          header{
              width:100%;
              padding-top:25px;
              background-color:transparent;
              .navbar-default{
                  background-color:transparent !important;
                  border-bottom:none;
                  .container{
                      background-color:transparent;
                      .navbar-header{
                          .navbar-brand{
                              font-size:24px;
                              color:#002b80;
                              img{
                                  width:80px;
                                  margin-top:-40px;
                              }
                          }
                      }
                      #navbarCollapse{
                          ul{
                              li{
                                  margin-bottom:-2px !important;
                                  a{

                                  }
                              }
                          }
                      }
                  }
              }
              .navbar-toggle{
                  margin-top:-5px;
              }
              .navbar-static-top{
                  background:#fff;
              }
              .navbar-default .navbar-toggle .icon-bar{
                 background-color:#068B39;
              }
              .navbar-default .navbar-nav>li>a{
                  color:#fff;
              }
              .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
                  color:#fff;
                  background:#068B39;
                  transition: all 0.8s ease;
              }
              .navbar-default .navbar-toggle:hover{
                  background:#068B39;
                  transition: all 0.8s ease;
              }
              .navbar-default .navbar-toggle:focus{
                  background:transparent;
              }
              .navbar-right{
                  img{
                      width:30px;
                  }
              }
          }
    }

    .secondSection{
         max-width:1100px;
         width:100%;
         margin:0 auto;
         text-align:center;
         padding:0 20px 0 20px;
         /*background-image: url(/public/images/bg4.jpg);
         *background-repeat:no-repeat;
         */
         img{
            width:300px;
            border:solid 3pt #fff;
            margin-top:-50px;
            border-radius:50%;
         }
         p{
            text-align:justify;
         }
    }
}

@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
    body .sections, html .sections{
        min-height:620px;
    }
    body .top-banner .firstSection .logo, html .top-banner .firstSection .logo{
        margin-top:0;
    }
    .top-banner .firstSection .myName h1{
        font-size:24pt;
    }
    .top-banner .firstSection h2{
        font-size:14pt !important;
    }
}