body,html{
    font-family: 'Raleway', sans-serif;

    a, p{
        font-size:18pt;
    }
    a{
        color:#00b36b;
    }
    a, p, h1, h2{
        font-family: 'Raleway', sans-serif;
    }
    h1{
        font-size:32pt;
        font-weight:bold;
    }
    /**** Section 1 *****/

    .sections{
       width:100%;
       min-height:100vh;
    }
    .top-banner{
        margin-top:-96px;
        background-image: url(/public/images/bg5.jpg);
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          text-align:center;
          padding:0 20px 0 20px;
          .firstSection{
            max-width:1100px;
            width:100%;
            margin:0 auto;
            .logo{
                width:150px;
                margin-top:20%;
              }
              .myName{
                border:solid 3pt #fff;
                padding-bottom:10px;
                min-width:320px;
                margin:20px auto;
                h1{
                    color:#fff;
                    text-shadow:1pt 1pt 1pt #333;
                    &:hover{
                        transition: all 0.8s ease;
                    }
                }
                &:hover{
                    background-color:#068B39;
                    border-color:#068B39;
                    transition: all 0.8s ease;
                }
              }
              h2{
                color:#fff;
                font-size:24pt;
              }
              ul{
                li{
                    display:inline-block;
                    a{
                        img{
                            width:48px;
                        }
                    }
                }
              }
          }
    }

    .secondSection{
         max-width:1100px;
         width:100%;
         margin:0 auto;
         text-align:center;
         padding:0 20px 0 20px;
         /*background-image: url(/public/images/bg4.jpg);
         *background-repeat:no-repeat;
         */
         img{
            width:300px;
            border:solid 3pt #fff;
            margin-top:-50px;
            border-radius:50%;
         }
         p{
            text-align:justify;
         }
    }
}