header{

    nav{
        .container{
            .navbar-header{
                button{
                    span{
                        color:#000;
                    }
                }
                .navbar-brand{
                    font-size:24px;
                    color:#002b80;
                }
            }
            #navbarCollapse{
                ul{
                    li{
                        a{

                        }
                    }
                }
            }
        }
    }
}