header{
    width:100%;
    padding-top:25px;
    background-color:transparent;
    .navbar-default{
        background-color:transparent !important;
        border-bottom:none;
        .container{
            background-color:transparent;
            .navbar-header{
                .navbar-brand{
                    font-size:24px;
                    color:#002b80;
                    img{
                        width:80px;
                        margin-top:-40px;
                    }
                }
            }
            #navbarCollapse{
                ul{
                    li{
                        margin-bottom:-2px !important;
                        a{

                        }
                    }
                }
            }
        }
    }
    .navbar-toggle{
        margin-top:-5px;
    }
    .navbar-static-top{
        background:#fff;
    }
    .navbar-default .navbar-toggle .icon-bar{
       background-color:#068B39;
    }
    .navbar-default .navbar-nav>li>a{
        color:#000;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
        color:#fff;
        background:#068B39;
        transition: all 0.8s ease;
    }
    .navbar-default .navbar-toggle:hover{
        background:#068B39;
        transition: all 0.8s ease;
    }
    .navbar-default .navbar-toggle:focus{
        background:transparent;
    }
    .navbar-right{
        img{
            width:30px;
        }
    }
}