#{extends 'main.html' /}
#{set title:'My Portfolio | Home' /}
<script>
    jQuery(document).ready(function($){
        var timelineBlocks = $('.cd-timeline-block'),
            offset = 0.8;

        //hide timeline blocks which are outside the viewport
        hideBlocks(timelineBlocks, offset);

        //on scolling, show/animate timeline blocks when enter the viewport
        $(window).on('scroll', function(){
            (!window.requestAnimationFrame)
                ? setTimeout(function(){ showBlocks(timelineBlocks, offset); }, 100)
                : window.requestAnimationFrame(function(){ showBlocks(timelineBlocks, offset); });
        });

        function hideBlocks(blocks, offset) {
            blocks.each(function(){
                ( $(this).offset().top > $(window).scrollTop()+$(window).height()*offset ) && $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
            });
        }

        function showBlocks(blocks, offset) {
            blocks.each(function(){
                ( $(this).offset().top <= $(window).scrollTop()+$(window).height()*offset && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) && $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
            });
        }
    });


        $(document).ready(function(){
            $('.loader1').waypoint(function() {
                $('.loader1').ClassyLoader({
                    speed: 10,
                    diameter: 80,
                    fontSize: '30px',
                    fontFamily: 'Raleway',
                    fontColor: '#00b36b',
                    lineColor: '#00b36b',
                    percentage: 95,
                    lineWidth: 20,
                    start: 'top',
                    remainingLineColor: '#333333'
                });
            }, {
                offset: '80%'
            });
            $('.loader2').waypoint(function() {
                 $('.loader2').ClassyLoader({
                    speed: 10,
                    diameter: 80,
                    fontSize: '30px',
                    fontFamily: 'Raleway',
                    fontColor: '#00b36b',
                    lineColor: '#00b36b',
                    percentage: 95,
                    lineWidth: 20,
                    start: 'top',
                    remainingLineColor: '#333333'
                });
            }, {
                offset: '70%'
            });
            $('.loader3').waypoint(function() {
                 $('.loader3').ClassyLoader({
                    speed: 10,
                    diameter: 80,
                    fontSize: '30px',
                    fontFamily: 'Raleway',
                    fontColor: '#00b36b',
                    lineColor: '#00b36b',
                    percentage: 80,
                    lineWidth: 20,
                    start: 'top',
                    remainingLineColor: '#333333'
                });
            }, {
                offset: '60%'
            });
            $('.loader4').waypoint(function() {
                 $('.loader4').ClassyLoader({
                    speed: 10,
                    diameter: 80,
                    fontSize: '30px',
                    fontFamily: 'Raleway',
                    fontColor: '#00b36b',
                    lineColor: '#00b36b',
                    percentage: 80,
                    lineWidth: 20,
                    start: 'top',
                    remainingLineColor: '#333333'
                });
            }, {
                offset: '60%'
            });
            $('.loader5').waypoint(function() {
                 $('.loader5').ClassyLoader({
                    speed: 10,
                    diameter: 80,
                    fontSize: '30px',
                    fontFamily: 'Raleway',
                    fontColor: '#00b36b',
                    lineColor: '#00b36b',
                    percentage: 50,
                    lineWidth: 20,
                    start: 'top',
                    remainingLineColor: '#333333'
                });
            }, {
                offset: '80%'
            });
            $('.loader6').waypoint(function() {
                 $('.loader6').ClassyLoader({
                    speed: 10,
                    diameter: 80,
                    fontSize: '30px',
                    fontFamily: 'Raleway',
                    fontColor: '#00b36b',
                    lineColor: '#00b36b',
                    percentage: 60,
                    lineWidth: 20,
                    start: 'top',
                    remainingLineColor: '#333333'
                });
            }, {
                offset: '80%'
            });
            $('.loader7').waypoint(function() {
                 $('.loader7').ClassyLoader({
                    speed: 10,
                    diameter: 80,
                    fontSize: '30px',
                    fontFamily: 'Raleway',
                    fontColor: '#00b36b',
                    lineColor: '#00b36b',
                    percentage: 50,
                    lineWidth: 20,
                    start: 'top',
                    remainingLineColor: '#333333'
                });
            }, {
                offset: '80%'
            });
             $('.loader8').waypoint(function() {
                 $('.loader8').ClassyLoader({
                    speed: 10,
                    diameter: 80,
                    fontSize: '30px',
                    fontFamily: 'Raleway',
                    fontColor: '#00b36b',
                    lineColor: '#00b36b',
                    percentage: 50,
                    lineWidth: 20,
                    start: 'top',
                    remainingLineColor: '#333333'
                });
            }, {
                offset: '80%'
            });
        });


</script>

<section class="sections" id="AboutMe">
    <div class="secondSection">
        <img class="jojo"src="/public/images/aboutJojo.jpg">
        <h1 class="aboutMe">&{'aboutmeH1'}</h1>
        <hr>
        <p>&{'aboutmeContent'}</p>
    </div>

    <div class="container basicInfo">
        <div class="row">
            <div class="col-md-5">
                <table>
                    <tr ng-repeat="am in aboutMe">
                        <th><img ng-src="{{am.icon}}"></th>
                        <td>
                            <a ng-if="am.link != 'none'" href="{{am.link}}">{{am.aboutItem}}</a>
                            <p ng-if="am.link == 'none'">{{am.aboutItem}}</p>
                        </td>
                    </tr>
                </table>

                <img class="signature" src="public/images/aboutme/signature.png"><br/>
                <button class="downloadBtn">
                    Download my resume<span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
            <div class="col-md-7">
                <div class="hobbies">
                    <h2>&{'aboutmeHobbies'}</h2>
                    <ul class="ch-grid">
                        <li >
                            <div class="ch-item">
                                <div class="ch-info">
                                    <h3>&{'aboutmeMusic'}</h3>
                                    <p>&{'aboutmeFavorite'}<a target="_blank" href="https://www.youtube.com/watch?v=12QZDSaBfps">Redemption Song</a></p>
                                </div>
                                <div class="ch-thumb ch-img-1"></div>
                            </div>
                        </li>
                        <li >
                            <div class="ch-item">
                                <div class="ch-info">
                                    <h3>&{'aboutmeMovies'}</h3>
                                    <p>&{'aboutmeFavorite'}<a href="#">A beautiful Mind</a></p>
                                </div>
                                <div class="ch-thumb ch-img-2"></div>
                            </div>
                        </li>
                        <li >
                            <div class="ch-item">
                                <div class="ch-info">
                                    <h3>&{'aboutmeWindows'}</h3>
                                    <p class="windowsP"><a href="#">Windows OS</a></p>
                                </div>
                                <div class="ch-thumb ch-img-3"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sections" id="Resume">
    <div class="container">
        <h1>RESUME</h1>
        <hr>
        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="/public/images/resume/objective.png" alt="Picture">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Objective</h2>
                    <p>To engage with the continuous growth and advancement of the industry of Information Technology where my technology-based skills and willingness to learn can facilitate the betterment of the company and the community.</p>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="/public/images/resume/experience.gif" alt="Picture">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Software Engineer | Junior</h2>
                    <span>Kinpo Electronics Phils. - August 10, 2015 to Present</span>
                    <p>Here we work as a team, specifically we are the web team.  We are assigned to create the website projects of the company and also maintains their  existing website in different languages.</p>
                    <a target="_blank" href="http://us.xyzprinting.com/"><button>View project</button></a>
                    <span class="cd-date">August, 2015<br></span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="/public/images/resume/experience.gif" alt="Picture">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Junior Web Developer</h2>
                    <span>PUSOD Inc. - May 18, 2014 – August 1, 2015</span>
                    <p>This is my first job, actually I am an intern before to this company. I developed their website and they are satisfied with my work so they hired me to maintain it.</p>
                    <a target="_blank" href="http://pusod.org/"><button>View project</button></a>
                    <span class="cd-date">May, 2014</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                    <img src="/public/images/resume/education.png" alt="Movie">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Education</h2>
                    <p>
                        <ul>
                            <li>
                                <h3>Bachelor's Degree</h3>
                                <span>STI College Lipa - 2011 to 2015</span>
                                <p>Best Thesis Awardee for An Online Inquiry and Reservation System for a Catering Service</p>
                             </li>
                            <li><p></p></li>
                        </ul>
                    </p>
                    <span class="cd-date">Apr 25, 2015</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </section>
    </div>
</section>

<section class="sections" id="Skills">
    <div class="container Skills">
        <div class="row skillsContent">
            <h1>SKILLS</h1>
            <hr>
            <div class="col-sm-3 loaders">
                <canvas class="loader1"></canvas>
                <p>HTML / HTML5</p>
            </div>
            <div class="col-sm-3 loaders">
                <canvas class="loader2"></canvas>
                <p>CSS / CSS3 / SASS</p>
            </div>
            <div class="col-sm-3 loaders">
                <canvas class="loader3"></canvas>
                <p>Javascript</p>
            </div>
            <div class="col-sm-3 loaders">
                <canvas class="loader4"></canvas>
                <p>Jquery</p>
            </div>
        </div>
        <div class="row skillsContent">
            <div class="col-sm-3 loaders">
                <canvas class="loader5"></canvas>
                <p>Angular JS</p>
            </div>
            <div class="col-sm-3 loaders">
                <canvas class="loader6"></canvas>
                <p>PHP</p>
            </div>
            <div class="col-sm-3 loaders">
                <canvas class="loader7"></canvas>
                <p>Git</p>
            </div>
            <div class="col-sm-3 loaders">
                <canvas class="loader8"></canvas>
                <p>MySQL</p>
            </div>
        </div>
    </div>
</section>

<section class="sections" id="Contact">
    <div class="container">
        <div class="row" class="contactme">
            <h1>CONTACT ME</h1>
            <hr>
            <div class="col-sm-6">
               <input type="text" id="email" placeholder="Enter your email">
            </div>
            <div class="col-sm-6">
                <input type="text" id="name" placeholder="Enter your name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <textarea id="message" placeholder="Enter your message here"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button onclick="sendMail(); return false">Send Email</button>
            </div>
        </div>
    </div>
</section>

<script>
    function sendMail() {
    var link = "mailto:linatocjojop@gmail.com"
             + "?cc=linatocjp@gmail.com"
             + "&subject=" + escape("Website portfolio")
             + "&body=" + escape(document.getElementById('message').value)
    ;

    window.location.href = link;
    }
</script>