#{extends 'main.html' /}
#{set title:'My Portfolio | Home' /}

<section class="top-banner sections">
    <div class="firstSection">
        <img class="logo" src="public/images/logo1.png">
        <div class="myName">
            <h1>JOJO P. LINATOC</h1>
        </div>
        <h2>
            Web Design - Responsive Layout
        </h2>
        <ul>
            <li>
                <a target="_blank" href="https://www.facebook.com/jojo.linatoc07"><img onmouseover="this.src='public/images/fb.png';" onmouseout="this.src='public/images/fb-default.png';" src="public/images/fb-default.png"></a>
            </li>
            <li>
                <a target="_blank" href="https://plus.google.com/u/0/102470305112366647778"><img onmouseover="this.src='public/images/google.png';" onmouseout="this.src='public/images/google-default.png';" src="public/images/google-default.png"></a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/jojo-linatoc-969b19b2?trk=nav_responsive_tab_profile_pic"><img onmouseover="this.src='public/images/linkin.png';" onmouseout="this.src='public/images/linkin-default.png';" src="public/images/linkin-default.png"></a>
            </li>
        </ul>
    </div>
</section>

<section class="sections" id="AboutMe">
    <div class="secondSection">
        <img src="/public/images/jojo.jpg">
        <h1>ABOUT ME</h1>
        <p>Like most of us, I was born. Some years later when I studied in STI College Lipa I created my first website.
            It was fun and exciting.  I graduated with an award of Best Thesis for our Online Inquiry and Reservation with billing System.
            It is a website that aims to improve the current system of a catering service.
        </p>
    </div>
</section>