#{extends 'main.html' /}
#{set title:'My Portfolio | Home' /}

<section class="sections" id="AboutMe">
    <div class="secondSection">
        <img class="jojo"src="/public/images/aboutJojo.jpg">
        <h1 class="aboutMe">&{'aboutmeH1'}</h1>
        <hr>
        <p>&{'aboutmeContent'}</p>
    </div>

    <div class="container basicInfo">
        <div class="row">
            <div class="col-md-5">
                <table>
                    <tr ng-repeat="am in aboutMe">
                        <th><img ng-src="{{am.icon}}"></th>
                        <td>
                            <a ng-if="am.link != 'none'" href="{{am.link}}">{{am.aboutItem}}</a>
                            <p ng-if="am.link == 'none'">{{am.aboutItem}}</p>
                        </td>
                    </tr>
                </table>

                <img class="signature" src="public/images/aboutme/signature.png"><br/>
                <button class="downloadBtn">
                    Download my resume<span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
            <div class="col-md-7">
                <div class="hobbies">
                    <h2>&{'aboutmeHobbies'}</h2>
                    <ul class="ch-grid">
                        <li >
                            <div class="ch-item">
                                <div class="ch-info">
                                    <h3>&{'aboutmeMusic'}</h3>
                                    <p>&{'aboutmeFavorite'}<a target="_blank" href="https://www.youtube.com/watch?v=12QZDSaBfps">Redemption Song</a></p>
                                </div>
                                <div class="ch-thumb ch-img-1"></div>
                            </div>
                        </li>
                        <li >
                            <div class="ch-item">
                                <div class="ch-info">
                                    <h3>&{'aboutmeMovies'}</h3>
                                    <p>&{'aboutmeFavorite'}<a href="#">A beautiful Mind</a></p>
                                </div>
                                <div class="ch-thumb ch-img-2"></div>
                            </div>
                        </li>
                        <li >
                            <div class="ch-item">
                                <div class="ch-info">
                                    <h3>&{'aboutmeWindows'}</h3>
                                    <p class="windowsP"><a href="#">Windows OS</a></p>
                                </div>
                                <div class="ch-thumb ch-img-3"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>